body {
    font-family: Courier;
    font-size: 18px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.index-header {
    width: 100%;
    /*    min-width: 940px;*/
    margin: 0 auto;
    padding-top: 40px;
    background: #c0c0c0 url(../img/bg-header.jpg) 50% 0 no-repeat;
    /*    background-size: cover;*/
}

.container {
    max-width: 940px;
    margin: 0 auto;
    /*    font-size: 0;*/
    /*    outline: 1px solid red;*/
}

.reset-font {
    font-size: 0;
}

.logo {
    display: inline-block;
    width: 134px;
    margin-top: -3px;
    margin-right: 45px;
    margin-left: 12px;
    vertical-align: top;
}

.search {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.search input[type=text] {
    width: 120px;
    padding: 4px;
    color: #000;
    font-family: Courier;
    font-size: 14px;
    border: 1px solid #e1e6e1;
    border-radius: 1px;
    outline: none;
}

::-webkit-input-placeholder {
    color: #000;
    font-family: Courier;
    font-size: 14px;
}

::-moz-placeholder {
    color: #000;
    font-family: Courier;
    font-size: 14px;
}

:-moz-placeholder {
    color: #000;
    font-family: Courier;
    font-size: 14px;
}

:-ms-input-placeholder {
    color: #000;
    font-family: Courier;
    font-size: 14px;
}

.index-menu {
    display: inline-block;
    margin-bottom: 25px;
    vertical-align: top;
}

.index-menu ul {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.index-menu ul li {
    display: inline-block;
    vertical-align: top;
}

.index-menu ul li a {
    display: block;
    margin-right: 35px;
    padding: 0 5px;
    color: #21411e;
    font-family: Courier;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .5);
}

.index-menu ul li:last-child a {
    margin-right: 0;
}

.index-menu ul li a:hover {
    /*    color: #0f0;*/
    color: #000;
    background-color: rgba(255, 255, 255, .75);
}

.select {
    display: block;
    margin-bottom: 30px;
    margin-left: 12px;
    color: #21411e;
    font-family: Courier;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #e1e6e1;
    border-radius: 1px;
    outline: none;
}

.slogan {
    width: 864px;
    height: 98px;
    margin: 0 auto 60px auto;
    background: url(../img/slogan.png) 0 0 no-repeat;
}

.fb,
.vk {
    display: inline-block;
    width: 39px;
    height: 39px;
    margin-right: 5px;
    margin-bottom: 115px;
    margin-left: 12px;
    vertical-align: top;
    border-radius: 50%;
    background: url(../img/icon-fb.png) 0 0 no-repeat;
}

.vk {
    margin-left: 0;
    border-radius: 0;
    background: url(../img/icon-vk.png) 0 0 no-repeat;
}

.fb:hover,
.vk:hover {
    opacity: .8;
}

.index-title {
    margin-bottom: 48px;
    color: #21411e;
    font-family: Lucida Handwriting;
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

.btn {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin-bottom: 120px;
    margin-left: 350px;
    padding: 22px 0;
    color: #000;
    font-family: Courier;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: rgba(33, 65, 30, .7);
}

.btn:hover {
    color: #bababa;
    background-color: rgba(33, 65, 30, .8);
}

.features,
.products,
.promoblock,
.feature-item {
    color: #21411e;
    font-family: Courier;
}

.features {
    padding-top: 45px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-sub-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Lucida Handwriting;
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

.feature-item {
    display: inline-block;
    vertical-align: top;
}

.feature-item-title {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.feature-item-text {
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 18px;
}

.item1 {
    width: 280px;
    min-height: 200px;
    margin-right: 20px;
    padding: 0 10px 20px 10px;
    background: #fff url(../img/feat1.png) 41% 50% no-repeat;
}

.item-title1 {
    margin-top: 70px;
    margin-bottom: 8px;
}

.item2 {
    width: 280px;
    min-height: 168px;
    margin-right: 20px;
    padding: 0 10px 20px 10px;
    background: #fff url(../img/feat2.png) 53% 93% no-repeat;
    z-index: 10;
}

.item-title2 {
    margin-top: 70px;
    margin-bottom: 8px;
}

.item3 {
    width: 280px;
    min-height: 176px;
    padding: 0 10px 20px 10px;
    background: #fff url(../img/feat3.png) 41% 100% no-repeat;
    z-index: 10;
}

.item4 {
    width: 300px;
    min-height: 65px;
    margin-right: 57px;
    margin-left: 130px;
    padding: 0 10px 20px 10px;
    background: #fff url(../img/feat4.png) 30% 20% no-repeat;
}

.item-title4 {
    margin-bottom: 8px;
}

.item5 {
    width: 280px;
    min-height: 153px;
    margin-top: -17px;
    padding: 0 10px 20px;
    background: #fff url(../img/feat5.png) 50% 27% no-repeat;
}

.item-title5 {
    margin-top: 0;
    margin-bottom: 8px;
}

.item6 {
    width: 300px;
    min-height: 108px;
    margin-top: -60px;
    margin-left: 35px;
    padding: 0 10px 20px;
    background: #fff url(../img/feat6.png) 50% 82% no-repeat;
}

.item-title6 {
    margin-top: 0;
    margin-bottom: 8px;
}

.features-link {
    display: inline-block;
    vertical-align: top;
    margin-left: 450px;
    margin-top: -20px;
    margin-bottom: 35px;
    color: #21411e;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.features-link:hover {
    color: #0f0;
}

.products {
    padding-top: 40px;
    background-color: #f7f7f7;
}

.products .section-title {
    margin-bottom: 45px;
}

.product-item {
    display: inline-block;
    width: 290px;
    min-height: 390px;
    margin-right: 35px;
    margin-bottom: 50px;
    vertical-align: top;
    text-decoration: none;
}

.product-item-title {
    display: block;
    margin-top: 320px;
    color: #21411e;
    font-family: Lucida Handwriting;
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

.product-item:hover {
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.music {
    background: #fff url(../img/product1.jpg) 0 0 no-repeat;
}

.ebook {
    background: #fff url(../img/product2.jpg) 0 0 no-repeat;
}

.photo {
    margin-right: 0;
    background: #fff url(../img/product3.jpg) 0 0 no-repeat;
}

.courses {
    background: #fff url(../img/product4.jpg) 0 0 no-repeat;
}

.soft {
    background: #fff url(../img/product5.jpg) 0 0 no-repeat;
}

.movie {
    margin-right: 0;
    background: #fff url(../img/product6.jpg) 0 0 no-repeat;
}

.promoblock {
    padding-top: 50px;
    background-color: #d8e7d8;
}

.promoblock .btn {
    margin-top: 55px;
    margin-bottom: 80px;
}

.promoblock-text {
    display: block;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.index-footer {
    padding-top: 30px;
    font-family: Courier;
    border-bottom: 6px solid #d8e7d8;
}

.index-footer .logo {
    margin-left: 403px;
    margin-right: 403px;
    margin-bottom: 25px;
}

.footer-text {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    color: #9c9c9c;
    font-size: 14px;
}

span.footer-text {
    margin-left: 150px;
    margin-right: 130px;
}

a.footer-text {
    margin-right: 60px;
    text-decoration: none;
}

a.footer-text:last-child {
    margin-right: 0;
}

a.footer-text:hover {
    color: #000;
}


/*--- модальное окно Вход на сайт ----*/

#modal_window_enter,
#modal_window_reg {
    display: none;
}

.fixed-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.5);
}

.fixed-overlay__modal {
    /*    text-align: center;*/
    /*    white-space: nowrap;*/
}

.fixed-overlay__modal::after {
    /*    display: inline-block;*/
    /*    vertical-align: middle;*/
    /*    width: 0;*/
    /*    height: 100%;*/
    /*    content: '';*/
}

.fixed-overlay::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
}

.modal {
    display: inline-block;
    vertical-align: middle;
}

.modal-window-container {
    width: 630px;
    min-width: 200px;
    padding: 25px 35px;
    text-align: left;
    white-space: normal;
    background-color: #d8e7d8;
    border-radius: 3px;
}

.modal-window-container span {
    display: block;
    text-align: center;
    color: #21411e;
    font-size: 14px;
}

.modal-window-container span a {
    color: #21411e;
}

.modal-window-title-enter h2,
.modal-window-title-reg h2 {
    float: left;
    color: #21411e;
    margin: 5px 332px 30px 0;
}

.modal-window-title-reg h2 {
    margin-right: 413px;
}

.modal-window-close.icon {
    display: inline-block;
    vertical-align: top;
    color: red;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.modal-window-close.icon:before {
    content: '';
    position: absolute;
    top: 13px;
    left: 4px;
    width: 21px;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-window-close.icon:after {
    content: '';
    position: absolute;
    top: 13px;
    left: 4px;
    width: 21px;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-window-close.icon:hover {
    color: #fff;
    background-color: red;
}

.error {
    display: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: red;
    border-radius: 3px;
}

.social-auth {
    float: left;
    width: 300px;
    margin-right: 30px;
}

.social-auth-btn {
    display: inline-block;
    width: 250px;
    margin-bottom: 15px;
    vertical-align: top;
    padding: 18px 0 18px 50px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
}

.social-auth-fb {
    position: relative;
    background-color: #5175b8;
}

.social-auth-btn:hover {
    opacity: .8;
}

.social-auth-vk {
    position: relative;
    background-color: #2a5885;
}

.social-auth-fb:before,
.social-auth-vk:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 54px;
    /*    padding-top: 12px;*/
    content: '';
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #1a4780 url(../img/icon-fb.jpg) 50% 50% no-repeat;
}

.social-auth-vk:before {
    content: '';
    /*    background: #1a4876;*/
    background: #1a4876 url(../img/vk.png) 50% 50% no-repeat;
}

.classic-auth {
    float: left;
    width: 300px;
}

.classic-auth input[type=email],
.classic-auth input[type=password],
.forgot-password-form input[type=email] {
    width: 258px;
    margin-bottom: 15px;
    padding: 17px 20px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    outline: none;
    background-color: #f7f7f7;
}

.modal-window-btn {
    float: left;
    width: 300px;
    margin: 0 auto;
}

.modal-window-enter-user input[type=submit],
.modal-window-reg-user input[type=submit] {
    width: 200px;
    margin: 0 10px 25px 215px;
    padding: 16px 0;
    border-radius: 3px;
    border: none;
    outline: none;
}

.modal-window-reg-user input[type=submit] {
    /*    width: 350px;*/
    margin-left: 215px;
}

.forgot-password-form {
    position: relative;
    display: none;
    margin-bottom: 13px;
}

.modal_window_enter-block {
    position: absolute;
    top: -140px;
    left: -2px;
    width: 635px;
    height: 130px;
    background-color: rgba(216, 231, 216, .8);
}

.forgot-password-form input[type=submit] {
    width: 200px;
    margin: 0 30px 0 0;
    padding: 16px 0;
    border-radius: 3px;
    border: none;
    outline: none;
}

.forgot-password-form input[type=email] {
    float: left;
    width: 310px;
    margin-right: 25px;
}

.divider {
    display: block;
    height: 1px;
    margin: 5px 0;
    background-color: #c4c4c4;
}

.forgot-registration,
.switch-enter-form {
    padding-top: 10px;
    color: #21411e;
}

.forgot-registration span,
.switch-enter-form span {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    margin-right: 132px;
    vertical-align: top;
}

.switch-enter-form span {
    margin-right: 0;
    margin-left: 228px;
}

.forgot-registration span a,
.switch-enter-form span a {
    color: #21411e;
    text-decoration: none;
}

.forgot-registration span a:hover,
.switch-enter-form span a:hover {
    text-decoration: underline;
}

.forgot-registration span:last-child {
    margin-right: 0;
}


/*--- конец модального окна Вход на сайт ---*/


/*---- page dashboard_analytics_sales.html ---*/

.inner-header {
    width: 100%;
    margin: 0 auto 30px auto;
    padding-top: 40px;
}

.inner-header .logo {
    margin-right: 10.2777em/*185px*/
    ;
}

.inner-menu {
    display: inline-block;
    margin-top: 0;
    padding: 0;
    vertical-align: top;
    list-style: none;
}

.inner-menu li {
    display: inline-block;
    vertical-align: top;
}

.inner-menu li a:hover,
.left-column ul li a:hover {
    color: #0f0;
}

.inner-menu-link-dashboard,
.inner-menu-link-profile,
.inner-menu-link-community {
    position: relative;
    display: inline-block;
    margin-right: .4166em;
    /*10*/
    padding: 0 .2em .4166em 1.2916em;
    /*0 5 10 31*/
    vertical-align: top;
    font-size: 1.333em;
    font-weight: bold;
    color: #21411e;
    text-decoration: none;
}

.inner-menu-link-profile {
    padding-left: .9166em;
    /*22*/
}

.inner-menu-link-community {
    padding-left: 1.041em;
    /*25*/
}

.inner-menu-link-dashboard:before,
.inner-menu-link-profile:before,
.inner-menu-link-community:before,
.inner-notice:before,
.inner-user-submenu:before {
    position: absolute;
    top: 4px;
    left: 1px;
    width: 25px;
    height: 25px;
    font-family: 'FontAwesome';
    font-weight: normal;
    font-size: .833em;
    content: '\f0ae';
    color: #000;
}

.inner-menu-link-profile:before {
    content: '\f007';
}

.inner-menu-link-community:before {
    content: '\f0ac';
}

.inner-menu-link-dashboard.active-item:before,
.inner-menu-link-profile.active-item:before,
.inner-menu-link-community.active-item:before {
    color: #0f0;
}

.inner-notice,
.inner-user-submenu {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 30px;
    margin-right: 10px;
}

.inner-user-submenu {
    width: 30px;
    margin-right: 0;
}

.inner-notice:before {
    top: 7px;
    font-weight: bold;
    content: '\f0a2';
}

.inner-user-submenu:before {
    top: 1px;
    font-size: 1.5em;
    content: '\f1c5';
}

.left-column {
    float: left;
    width: 145px;
    margin-top: 15px;
    margin-right: 10px;
}

.left-column-list-title {
    display: block;
    margin-bottom: 5px;
    font-size: 1.333em;
    font-weight: bold;
    color: #21411e;
    text-align: right;
}

.left-column ul {
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
    list-style: none;
}

.left-column ul li a {
    display: block;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
    color: #21411e;
    text-align: right;
    text-decoration: none;
}

.left-column ul li a span {
    display: block;
}

.left-column .active-item {
    color: #0f0;
}

.right-column {
    float: right;
    width: 780px;
    min-height: 500px;
    background-color: #f7f7f7;
    border-radius: 15px;
}

.select-date,
.select-product {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 1.333em;
    font-weight: bold;
    color: #21411e;
}

.select-date input[type=date] {
    width: 247px;
    height: 31px;
    outline: none;
}

.select-product select {
    width: 252px;
    height: 35px;
    outline: none;
}

.select-date-product-submit {
    width: 120px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 70px;
    margin-left: 90px;
}

.total-period,
.total-all {
    font-size: 1.666em;
    font-weight: bold;
    color: #21411e;
    text-align: center;
}

.total-all {
    font-size: 1.333em;
}